* {
    font-family: 'Montserrat', sans-serif;
}
h1 {
    width: 100%;
    text-align: center;
    color: gray;
}
.tabs-block-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin-top: 30px;
}
#tabs, #second-tabs {
    display: flex;
}
.tab-btn, .second-tab-btn{
    width: 100px;
    height: 40px;
    font-size: 20px;
    font-weight: 500;
    color: gray;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid rgba(0,0,0,.1);
    border-radius: 10px;
    margin-left: 8px;
    margin-bottom: 10px;

    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    3px 7px 10px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
}
.tab-btn.active,  .second-tab-btn.activeSecond{
    background-color: #4dccc6;
    background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
    color:  #fff;
}

#contents {
    max-width: 310px;
    width: 100%;
    height: 250px;
    border: 1px solid rgba(0,0,0,.1);
    
    border-radius: 10px;
    margin-left: 5px;
    padding: 10px;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
}

.content, .second-content {
    display: none;
}

.content.active {
    display: block;
}
.second-content.activeSecond {
    display: block;
}
.second-tabs-block-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin-top: 30px;
}